<!DOCTYPE html>
<html>
    <head>
        <title>Title</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/team_name.css') }}">
    </head>
    <body>

        <div class="wrapper">
            <ul class="team">
                <li class="team-item">
                    <div class="profile profile_red">
                        <img src="{{ url_for('static', filename='images/red.png') }}">
                        <div class="profile-contents">
                            <h2>황승현 <span>역할</span></h2>
                            <p>경상국립대학교 컴퓨터과학과 4학년 재학</p>
                        </div>
                    </div>
                </li>
                <li class="team-item">
                    <div class="profile profile_beige">
                        <img src="{{ url_for('static', filename='images/doggy.png') }}">
                        <div class="profile-contents">
                            <h2>백은선 <span>역할</span></h2>
                            <p>경상국립대학교 산업시스템공학과 4학년 재학</p>
                        </div>
                    </div>
                </li>
                <li class="team-item">
                    <div class="profile profile_green">
                        <img src="{{ url_for('static', filename='images/green.png') }}">
                        <div class="profile-contents">
                            <h2>한성현 <span>역할</span></h2>
                            <p>경상국립대학교 정보통계학과 4학년 재학</p>
                        </div>
                    </div>
                </li>
                <li class="team-item">
                    <div class="profile profile_pink">
                        <img src="{{ url_for('static', filename='images/pink.png') }}">
                        <div class="profile-contents">
                            <h2>성언승 <span>Front-end</span></h2>
                            <p>경상국립대학교 정보통계학과 4학년 재학</p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

        <script> </script>
    </body>
</html>